In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [27]:
read_file=pd.read_csv('AutoInsurSweden.txt',sep='\t',skiprows=10)

In [28]:
read_file.head(10)

     X      Y
0  108  392,5
1   19   46,2
2   13   15,7
3  124  422,2
4   40  119,4
5   57  170,9
6   23   56,9
7   14   77,5
8   45    214
9   10   65,3

In [29]:
read_file['Y']

0     392,5
1      46,2
2      15,7
3     422,2
4     119,4
5     170,9
6      56,9
7      77,5
8       214
9      65,3
10     20,9
11    248,1
12     23,5
13     39,6
14     48,8
15      6,6
16    134,9
17     50,9
18      4,4
19      113
20     14,8
21     48,7
22     52,1
23     13,2
24    103,9
25     77,5
26     11,8
27     98,1
28     27,9
29     38,1
      ...
33     40,3
34    161,5
35     57,2
36    217,6
37     58,1
38     12,6
39     59,6
40     89,9
41    202,4
42    181,3
43    152,8
44    162,8
45     73,4
46     21,3
47     92,6
48     76,1
49     39,9
50    142,1
51       93
52     31,9
53     32,1
54     55,6
55    133,3
56    194,5
57    137,9
58     87,4
59    209,8
60     95,5
61    244,6
62    187,5
Name: Y, Length: 63, dtype: object

#  Feature Engineering

In [30]:
read_file.isna().sum()

X    0
Y    0
dtype: int64

# Train and Test

In [31]:
read_file['X']

0     108
1      19
2      13
3     124
4      40
5      57
6      23
7      14
8      45
9      10
10      5
11     48
12     11
13     23
14      7
15      2
16     24
17      6
18      3
19     23
20      6
21      9
22      9
23      3
24     29
25      7
26      4
27     20
28      7
29      4
     ...
33      5
34     22
35     11
36     61
37     12
38      4
39     16
40     13
41     60
42     41
43     37
44     55
45     41
46     11
47     27
48      8
49      3
50     17
51     13
52     13
53     15
54      8
55     29
56     30
57     24
58      9
59     31
60     14
61     53
62     26
Name: X, Length: 63, dtype: int64

In [56]:
read_file['Y']= [str(x).replace(",",".") for x in read_file['Y']]

read_file.head()

     X      Y
0  108  392.5
1   19   46.2
2   13   15.7
3  124  422.2
4   40  119.4

##FEATURE SELECTION

In [63]:
read_file.columns
X=read_file.iloc[:,0].values
y=read_file.iloc[:,1].values
X=X.reshape(-1,1)
print(X.shape)

(63, 1)

In [64]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.25,random_state=0)

##LinearRegression

In [76]:
from sklearn.linear_model import LinearRegression
lm=LinearRegression()
lm.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [79]:
y_pred=lm.predict(X_test)
y_pred

array([143.01541527,  29.41676695, 106.2629114 ,  62.8281341 ,
        39.4401771 ,  92.89836454,  32.75790367,  56.14586067,
       179.76791913,  62.8281341 ,  32.75790367,  66.16927082,
       153.03882541,  36.09904038,  86.21609111,  36.09904038])

In [80]:
#Model Evaluation
import sklearn.metrics as metrics
print('MAE:',metrics.mean_absolute_error(y_test,y_pred))
print('MSE:',metrics.mean_squared_error(y_test,y_pred))
print('RMSE:',np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

MAE: 30.99863274799465
MSE: 1499.5468481994199
RMSE: 38.72398285558214

# Ridge Regression

In [82]:
from sklearn.linear_model import Ridge
rr=Ridge(alpha=1.0)
rr.fit(X_train,y_train)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [83]:
y_pred=rr.predict(X_test)
print(y_pred)

[143.01407268  29.41920824 106.26279301  62.82946248  39.44228451
  92.89869131  32.76023366  56.14741163 179.76535235  62.82946248
  32.76023366  66.17048791 153.03714895  36.10125908  86.21664046
  36.10125908]

In [85]:
# Module Evaluation
import sklearn.metrics as metrics
print('MAE:',metrics.mean_absolute_error(y_test,y_pred))
print('MSE',metrics.mean_squared_error(y_test,y_pred))
print('RMSE:',np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

MAE: 30.998724947290086
MSE 1499.5770040606287
RMSE: 38.724372222937696